/*Main CSS */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: #0A1F34;
}

header {
    position: relative;
    text-align: center;
    margin: 20px;
}

header img {
    width: 100%; /* Make the image fill the width of its container */
    max-height: 300px; /* Set a maximum height to prevent excessive stretching */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
    border-radius: 5px; /* Add border-radius for rounded corners if desired */
    opacity: 0.79;
    ;
}

header h1 {
    color: #fff;
    margin-top: 10px; /* Adjust the margin to your preference */
}

section, footer {
    text-align: center;
    margin: 20px;
}

section {
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a.btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #c12525;
    color: #fff;
    border-radius: 5px;
}

footer {
    margin-top: 50px;
}


header {
  position: relative;
}

nav {
  background-color: #0A1F34;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}



/* Navigation Menu */

header {
  position: relative;
}

nav {
  background-color: #0A1F34;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center the items horizontally */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}